body {
  background-color: #f7f8fa; }
  body a {
    cursor: pointer !important;
    color: black !important; }
  body strong {
    font-size: 1.2rem;
    color: black;
    font-weight: 300; }
    body strong a {
      color: blue !important; }
  body .bgcolor {
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  body .bgcolorApplicants {
    width: 80%;
    background-color: #e3e9f8;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  body .color-blue {
    color: blue !important; }
  body #header {
    height: auto;
    min-height: 15vh;
    padding-top: 15px; }
  body #main-content {
    margin-top: 10px; }
    body #main-content .text-align {
      text-align: center;
      padding-top: 15px; }
    body #main-content .input-style input:focus, body #main-content .input-style button:focus {
      outline: none; }
    body #main-content .input-style input {
      height: auto;
      min-height: 100px;
      width: 80%;
      text-align: center; }
  body #submit-button {
    width: 150px;
    background-color: #4e9afc;
    color: white; }
